# Ambiente virtual
venv/
.venv/
**__pycache__**

# Build PyInstaller
build/
*.spec

# Logs gerados pelo .exe (opcional: descomente para não versionar)
# log_impressoes_*.xlsx
# arquivos/
/arquivos/
/dist/*
__pycache__
